Body { background-color: black;}
p {
    text-align: auto;
    color: white;
}
h1 {color: white;}
h2 {color: white;}
h3 {color: white}
h4 {color: white;}
div.main {
    background-color: #3C4950;
    float: right;
    text-align: center;
    height: 300px;
    width: 70%;
    border: 5px solid white;
  }
header {
    background-color: #7CBBDE ;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;}
footer {
    background-color: #7CBBDE;
    padding: 10px;
    text-align: center;
    color: white;
    }
img {align-items: center;}
    nav.topNavBar {}
li {color: white;}